@media (max-width: 1600px) {
  header {
    padding: 20px 5%;
  }
  header.sticky {
    padding: 15px 5%;
  }
  section {
    padding: 80px 7% 70px;
  }
  .copyright {
    padding: 20px 7% 20px;
  }
}
